@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;400&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183d56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}
/* Utility Classes*/

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    max-width: 1220px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);
    
}

.hover-link:hover {
    color: var(--accent-color);
    transition: 0.3s ease-out;
}

.primary-btn {
    background-color: var(--accent-color);
    border-radius: 4px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;

}

.primary-btn:hover {
    background-color: var(--accent-color-dark);
}

.secondary-btn {
    border: 0.5px solid var(--secondary-text-color);
    font-weight: 700;
    border-radius: 4px;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;

}

.secondary-btn:hover {
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* Top Banner  */

.top-banner {
    background-color: #4fb3d4;
    background-image: url(/assets/asset\ 32.png);
    background-size: 300px;
}

.banner-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* Navigation Bar  */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

/* Header section  */
header {
    margin-top: 20px;
    padding: 50px var(--padding-inline-section) 0;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    width: 40vw;

}

.header-left h1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.get-started-btn {
    margin-top: 20px;
}
.header-right img {
    width: 600px;
}

/* Companies Section  */

.companies-section {
    margin-bottom: 100px;
}

.companies-header {
    text-align: center;
    margin-block: 35px;
    color: var(--primary-text-color);
}

.logos {
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 46px;

}

/* Features Section  */

.features-section {
    padding: 0 var(--padding-inline-section) 0;
    background-image: url(/assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header {
    text-align: center;
}

.features-header h2 {
    margin-bottom: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.features-card img {
    width: 50px;
}

.features-area {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}

/* Big feature section  */


.big-feature-section {
    margin-top: 40px;
}

.big-feature-container {
    gap: 30px;
}

.feature-image img{
    width: 100%;
}

.feature-desc {
    flex-direction: column;
    /* column-gap: 20px; */
    align-items: flex-start ;
}

.feature-desc h4 {
    margin-bottom: 10px;
}

.feature-desc h3 {
    margin-bottom: 10px;
}

/* Examples section  */

.example-section {
    margin-top: 80px;
}

.example-header {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.example-card {
    width: 23.5%;
    position: relative;
    min-height: 320px;
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets/asset\ 36.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}

.example-card:hover {
    box-shadow: 0 0 15px #888;
}

.example-card:nth-child(2) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets/asset\ 37.jpeg);
    background-size: cover;
}

.example-card:nth-child(3) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets/asset\ 38.jpeg);
    background-size: cover;
}

.example-card:nth-child(4) {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(/assets/asset\ 39.jpeg);
    background-size: cover;
}

.example-area {
    justify-content: space-between;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    color: white;
}

/* Cta section  */

.cta-section {
    margin-top: 80px;
    padding: 60px 0px;
    background-color: var(--primary-text-color);
}

.cta-section-container {
    flex-direction: column;
    gap: 40px;
    color: white;
}

.cta-section-container p {
    color: white;
    margin-top: 20px;
}

/* Footer section  */
footer {
    background-color: #ebf2fa;
    padding-block: 80px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.link-column h3 {
    margin-bottom: 10px;
}

/* sub-footer  */

.sub-footer {
    background-color: #b9cde4;
    padding: 25px;
}

.sub-footer-container {
    justify-content: space-around;
}

.footer-links {
    justify-content: center;
    gap: 32px;
}

.footer-icons {
    justify-content: center;
    gap: 12px;
}

.sub-footer-container img {
    width: 50%;
}

.box {
    position: relative;
}

.box a {
    font-size: 40px;
    position:absolute;
    bottom: 10px;
    left: 30px;
    text-decoration: none;
}
